.image-list {
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(230px, 1fr));
	grid-gap: 0 5px;
    grid-auto-rows: 200px;
    /* height: 12px; */
}

.image-list img{
    width: 230px;
    height: 150px;
    border-radius: 15px;
    /* padding: 10px; */
}
	